.homepage {
    height: 100vh;
    background: url(images/simon-says-machine.jpeg) no-repeat center center fixed;
}

.playField {
    width: 800px !important;
    background-color:white;;
    
}
.highlighted {
    background-color: red;
    box-shadow: 0 0 15px black;
}

.hover {
    border: 4px solid red !important;
}

.selected {
    background-color:blue;
    box-shadow: 0 0 15px black;
}

.menu {
    margin-bottom: 10px;
}

.gameButton {
    border: 3px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px 50px ;
}

.currentScore {
    border: 1px solid white;
    background-color: black;
    margin-bottom: 15px;
}

.hiScore {
    border: 1px solid white;
    background-color: black;
    margin-bottom: 15px;
}

.scoreCounterText {
    padding: 1px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    margin: auto;
    color: whitesmoke;
}
.emphasize {
    box-shadow: 0 0 30px black;
}

.optionsMenu {
    height: 512px;
}

.title {
    font-family: 'Orbitron', sans-serif;
}

.reset {
    width: 92%;
}